html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.content {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.navbar {
  background-color: #3e3e3c;
  border: 1px #3e3e3c solid;
  display: flex;
  flex: 0;
  flex-direction: row;
  justify-content: space-around;
  min-height: 10px;
  overflow: hidden;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav a {
  color: white;
  text-decoration: none;
}

.signup-signin {
  margin-top: 100px;
  text-align: center;
}

.signup-signin-form {
  padding-top: 20px;
}

.form-errors {
  color: red;
}

.profile-img {
  max-height: 200px;
  margin-top: 20;
}

.profile {
  display: flex;
  flex-direction: row;
}

.left-column {
  flex-grow: 1;
  margin-left: 10;
  margin-right: 20px;
}

.right-column {
  flex-grow: 1;
}


.user-reviews {
  margin-bottom: 40px;
}

.review-date {
  margin-left: 20px;
}

.delete-button {
  border: none;
  background: none;
  padding: 0;
}

.album-page {
  margin-top: 80px;
}

.album-title {
  font-size: 50px;
}

.album-artist {
  font-size: 30px;
}

.new-review {
  margin-top: 80px;
  text-align: center;
}

.new-review-textarea {
  padding: 20px;
  margin: 20px;
  width: 40%;
  height: 40%;
}

.homepage {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

.homepage-left-column {
  flex-grow: 1;
  margin-left: 10;
  margin-right: 150px;
}

.homepage-right-column {
  flex-grow: 1;
}

.vinlys-img {
  width: 100vw;
  margin-left: -20px;
  margin-top: -9px;
}

.album-review-date {
  float: right;
  margin-top: -36px;
}

.homepage-review-author {
  margin-left: 600px;
  margin-top: -20px;
}
