extends /partials/layout

block content
  div.signup
    h1.signup-title Signup for Vinyl
      div.signup-form
        form(method="post", action="signup" )
          pre.form-errors #{warning}
          div.name
            h5 name:
              input(type="text", name="name", maxlength="20" required)
          div.email
            h5 email:
              input(type="email", name="email", maxlength="40" required)
          div.password
            h5 password:
              input(type="password", name="password" required)
          br
          input(type="submit" value="Signup")
