nav.navbar
  a.header-title(href="/") Vinyl
  div.header-info
  if loggedIn
    a(href="/profile") Profile
    a(href="/signout") Sign Out
  else 
    a(href="/sign-up") Sign Up
    a(href="/sign-in") Sign In
