nav.navbar
  a.header-title(href="/") Vinyl
  div.header-info
  if isLoggedIn 
    a(href="/users/profile") Profile
    a(href="/logout") Sign Out
  else 
    a(href="/signup") Sign Up
    a(href="/signin") Sign In
