nav.navbar
  a(href="/") Vinyl
  a(href="/reviews/new") Write a Review
  if isLoggedIn 
    a(href="/users/profile")
    a(href="/logout") Sign Out
  else 
    a(href="/signup") Sign Up
    a(href="/signin") Sign In
