extends /partials/layout

block content
  div.profile
    div.left-column
      img(src="/blank-profile-picture.png")
                
    div.right-column
      h1 #{user.name}
      
      p Email: #{user.email}
        
      if user.date_joined
        p Date Joined: #{humanReadableDate}
      else
        p Date Joined:
        
      br    
      h1 Reviews
